*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.home{
    padding: 5%;
    padding-top: 12%;
    background-color: rgb(255, 77, 91);
    border-bottom-left-radius:50px ;
    background-image: url(bg-pattern-intro-mobile.svg);
    /* background-position: 20em;
    background-size: 200em; */
    background-repeat: no-repeat;
    font-size: 25px;

    color: white;
    padding-bottom: 35%;
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content:left;
    
    align-content: center;
    width: 100%;
    padding: auto;

}
#header-links{
    display: none; 
}
nav button{
    background: none;
    width: auto;
    border-radius: 20px;
    text-wrap: nowrap;
    padding: auto;
    color: white;
    border: none;
    flex-direction: row;
    transition: background .2s;
}
#links button:hover{
    background: rgba(255, 255, 255, 0.094);
    
}
#menu-button{
    display: block;
    width: 20%;
    margin-top: auto;
    cursor: pointer;
    margin-left: auto;
}  

.sidebar{
    width: 100%;
    list-style: none;
    float: right;
    margin-right: 20px;
    display: none;
    top: 14%;
    
    
}
nav ul li{
    display: block;
    margin: 0 5px;
    line-height: 80px;
}

nav ul li a{
    color: #24242c;
    font-size: 17px;
}
 ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.779);
    top: 80px;
    left: 0;
    text-align: center;
   } 
nav a{

    cursor:pointer;
    text-decoration: none;
}
nav a:hover{
    background-color: rgba(128, 128, 128, 0.347);
}

h2{
    font-size: 25px;
}
h3{
    font-size: 25px;
}
.home h2{
    
    margin-top: 29%;
    padding-inline: 10%;
    text-align: center;
    
    flex-wrap: wrap;
    justify-content:center;
    font-weight: 200;
}
 p{
    
    margin-top: 7%;
    font-weight: 50;
    font-size: 17px; 
    text-align: center;
    margin-bottom:20% ;
}
.intro-buttons{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    gap: 5%;
}

#c1{
    border-radius: 40px;
    color: rgb(255, 77, 91);
    border: none;
    padding: 3%;
    text-wrap: nowrap;
    font-weight:bold;
    background-color: white;
}
#c2{
    border-radius: 40px;
    color: rgb(247, 247, 247);
    border-color: white;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0);
    font-weight:bold;
    text-wrap: nowrap;

}
button #c1 :hover{
    background-color: rgb(255, 77, 91);
    color: white;
}
.designed_for_the_future{
    text-align: center;
    margin-top: 25%;
    padding-inline: 8%;
    text-wrap: wrap;
    color: #324355;
    margin-bottom: 7%
}
.designed_for_the_future img{
    width: 100%;
    margin-bottom: 17%;
    display: flex;
    align-self: center;
    justify-content: right;
    margin-top: 7%;
}
.designed_for_the_future p{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 25%;
    font-weight: 100;
}
.state_of_art_infrastructure{
    
    background-color: #3a3b59;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    overflow-y: visible;
    padding-top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    padding-bottom: 30px;
    text-align: center;
    
}
.state_of_art_infrastructure h2{
    margin-top: -82px;
}
#phones{
    width: 100%;
    z-index: 1;
    top: -100px;
    height: auto;
    position: relative;
    
}
.state_of_art_infrastructure img{
    width: 100%;
    position: relative;
}
.state_of_art_infrastructure p{
    padding: 4%;
    bottom: 16px;
   
}
.free_open_simple p{
    text-align: center;
    padding: 5%;
    margin-top: 0%;
    margin-bottom: 5%;
    font-weight: 100;
    color:#324355 ;
    
}

.free_open_simple h2{
    text-align: center;
    font-weight:600;
    color:#324355 ;
    
}
.free_open_simple img{
    width: 100%;
}

.footer{
    width: 100%;
    background-color:#24242c ;
    color: white;
    text-align: center;
    padding-bottom:15% ;
    border-top-right-radius: 35px ;
}
.footer h3{
    margin-bottom: 7%;
    font-size: 20px;
    margin-top: 15%;
}
.footer h1{
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 25px;
}
.footer p{
    font-size: 16px;
    font-weight: 100;
    margin-top: 3%;
    margin-bottom: 3%;
}

@media(min-width: 320px){
   .home{
    width: auto;
   }
  
   nav{
    display: block;
    height: 80px;
    width: 100%;
   } 
   nav ul{
    float: right;
    font-size: 17px;
    margin-right: 20px;
    /* color:  rgb(255, 77, 91);
    background: white;
    margin-left: auto;
    font-size: 15px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    float: right; */
   }
   a:hover,a.active{
    background: none;
    color:  rgb(255, 77, 91);
   }
   nav ul li a {
    color: #24242c;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
   }
   
   
}
@media(min-width: 700px){
    #header-links{
        display: flex;
        margin-right: 5px;
        text-wrap: nowrap;
     }
     #header-links a{
         padding: 6px;
         
         text-decoration: none;
         color: white;
         margin: auto;
         margin-inline: auto;
         font-size: 30px;
         text-wrap: none;
     
     }
    #menu-button{
        display: none;
    }
    h3{
        font-size: 40px;
       }
    h1{
        font-size: 65px;
    }
    h2{
        font-size: 45px;
    }
    p{
        font-size: 24px;
    }
    nav ul{
        font-size: 22px;
   }
   #header{
    text-align: left;
    justify-content: left;
    align-items: center;
   }
   nav {
    margin-left: auto;
    display:flex;
    text-align: right;
    justify-content: flex-end;
   }
   nav button{
    font-size:100%;
   }
   #c1,#c2{
    padding: auto;
    font-size: 30px;
   }
   .footer{
    

    margin: auto;
    align-content: center;

    flex-direction: row;
    padding: auto;
    width: 100%;
    
   }
   #footer-content{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    padding: auto;
    margin-top: 12%;
   }
   #footer-content div{
    margin: auto;
    
    
   }
   .footer h1{
    font-size: 55px;
    justify-content: flex-start;
    margin: 0px;
   }
   .footer div{
    align-content: center;
    padding: auto;

   }
   footer h1{
    align-content: none;
   }
  
}
